* {
    box-sizing: border-box;
    margin: 0;
    -webkit-text-size-adjust: none;
}

html {
    background-color: #f7f7f7;
}

body {
    width: 640px;
    margin: 0 auto;
    line-height: 1.4;
    background-color: #fff;
}


.app {
    position: relative;
    display: -webkit-flex;
    align-items: center;
    padding: 26px 20px;
    border-bottom: 1px solid #cfcfcf;

    &__icon {
        width: 94px;
        height: 94px;
        border-radius: 16px;
        overflow: hidden;
        border-bottom: 1px solid #cfcfcf;

        &__img {
            display: block;
            width: 100%;
        }
    }

    &__text {
        margin-left: 18px;
        margin-right: auto;

        &__title {
            font-size: 35px;
            color: #181818;
        }

        &__summary {
            font-size: 24px;
            color: #828282;
        }
    }

    &__button {
        display: block;
        padding: 8px 26px;
        font-size: 26px;
        text-align: center;
        color: #fff;
        background-color: #3cba1a;
        border-radius: 8px;
        text-decoration: none;
    }

    &__label {
        position: absolute;
        left: 0;
        top: 0;
        width: 88px;
        height: 64px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAABACAMAAACpzkDwAAAAY1BMVEX////kNyDkNyDkNyDkNyDkNyDkNyDkNyDkNyDkNyD99vXkNyDkNyDkNyDkNyD1xcHkNyD////99vX76+r64d/41tT2y8j0wLzztK/xqKLvm5TtjYXrf3bqcGToX1HmTTzkNyDPEQg9AAAAEXRSTlMAESIzRFVmd4iZqqq7zN3u7uYy9NoAAAHASURBVHja1dXbkoIwEATQJtyXyxJFIKiE///KJSJCVhQ3ZB62H7Sssk6Nk8agt54ijXwG2EXzJHAxxuKkScAwx5KaRS702FBTbdQnuKtrI9V3sJbFV0rezR9aIWouNzcQrKs6fOHi9i74FPG+AiHD60zmnBFuhHjPJh7eZhVuN6sVMeATuO+bRr3Ksu234TzAdh4wV5048WYTznzgD3BfV93gnvsNOPWAz+FusWJev4GzT9kX8COdKav1uL1P+gLOfWAv3KofoT/gRejAABZPPf4FJwzYDTeqGxpc+IAZrK2i5hcdjh0Yw7IUChbV9C83w7kHmMOC3+BmePIkP/QLOHGwA+74cVxFxdszr2bYZLtLuFJrVbA8XU+3VY9wxrAPburH4V34QU5wDOyE720YYHkc740BNl/DEj6oCl/VKR7lCH+7sAGX0xVXXe/H+QUr8NOV5oAEjgESOAINHIIGDkAD25h3DbbjguLcVuEYNHACGjhzaOCcgQQuXNDAAWjgGDSwxYPTYRc0cAgaOAURzIhg24uY4BxEsEcEx6CBC4cIjkADkwwMkqqNMM3AoBoYVAODphIKZkRwSuTCxz/LDzuIyYMbR8EsAAAAAElFTkSuQmCC') no-repeat;
        background-size: contain;
    }
}