* {
  box-sizing: border-box;
  margin: 0;
  -webkit-text-size-adjust: none; }

html {
  background-color: #f7f7f7; }

body {
  width: 6.4rem;
  margin: 0 auto;
  line-height: 1.4;
  background-color: #fff; }

.app {
  position: relative;
  display: -webkit-flex;
  align-items: center;
  padding: 0.26rem 0.2rem;
  border-bottom: 1px solid #cfcfcf; }
  .app__icon {
    width: 0.94rem;
    height: 0.94rem;
    border-radius: 0.16rem;
    overflow: hidden; }
    .app__icon__img {
      display: block;
      width: 100%; }
  .app__text {
    margin-left: 0.18rem;
    margin-right: auto; }
    .app__text__title {
      font-size: 0.35rem;
      color: #181818; }
    .app__text__summary {
      font-size: 0.24rem;
      color: #828282; }
  .app__button {
    display: block;
    padding: 0.08rem 0.26rem;
    font-size: 0.26rem;
    text-align: center;
    color: #fff;
    background-color: #3cba1a;
    border-radius: 0.08rem;
    text-decoration: none; }
  .app__label {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.88rem;
    height: 0.64rem;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAABACAMAAACpzkDwAAAAY1BMVEX////kNyDkNyDkNyDkNyDkNyDkNyDkNyDkNyDkNyD99vXkNyDkNyDkNyDkNyD1xcHkNyD////99vX76+r64d/41tT2y8j0wLzztK/xqKLvm5TtjYXrf3bqcGToX1HmTTzkNyDPEQg9AAAAEXRSTlMAESIzRFVmd4iZqqq7zN3u7uYy9NoAAAHASURBVHja1dXbkoIwEATQJtyXyxJFIKiE///KJSJCVhQ3ZB62H7Sssk6Nk8agt54ijXwG2EXzJHAxxuKkScAwx5KaRS702FBTbdQnuKtrI9V3sJbFV0rezR9aIWouNzcQrKs6fOHi9i74FPG+AiHD60zmnBFuhHjPJh7eZhVuN6sVMeATuO+bRr3Ksu234TzAdh4wV5048WYTznzgD3BfV93gnvsNOPWAz+FusWJev4GzT9kX8COdKav1uL1P+gLOfWAv3KofoT/gRejAABZPPf4FJwzYDTeqGxpc+IAZrK2i5hcdjh0Yw7IUChbV9C83w7kHmMOC3+BmePIkP/QLOHGwA+74cVxFxdszr2bYZLtLuFJrVbA8XU+3VY9wxrAPburH4V34QU5wDOyE720YYHkc740BNl/DEj6oCl/VKR7lCH+7sAGX0xVXXe/H+QUr8NOV5oAEjgESOAINHIIGDkAD25h3DbbjguLcVuEYNHACGjhzaOCcgQQuXNDAAWjgGDSwxYPTYRc0cAgaOAURzIhg24uY4BxEsEcEx6CBC4cIjkADkwwMkqqNMM3AoBoYVAODphIKZkRwSuTCxz/LDzuIyYMbR8EsAAAAAElFTkSuQmCC") no-repeat;
    background-size: contain; }

.iosx2 .app {
  border-width: 0.5px; }

.iosx3 .app {
  border-width: 0.3571428571px; }
